/* PhoneInputStyles.css */
.phone-input-container .form-control {
    border: 1px solid #d1d5db; /* Example border color */
    background-color: #f8f8f8; /* Example background color */
    padding: 10px 15px; /* Example padding */
    border-radius: 4px; /* Example border radius */
    outline: none;
    transition: all 0.3s ease;
    color: #333; /* Text color */
    font-size: 16px; /* Text size */
  }
  
  .phone-input-container .form-control:focus {
    border-color: #45988e; /* Example focus border color */
    box-shadow: none; /* Remove the default shadow on focus */
  }
  
  .phone-input-container .flag-dropdown {
    border-radius: 4px 0 0 4px; /* Match the input border radius */
  }
  
  .phone-input-container .selected-flag {
    background-color: #f8f8f8; /* Match the input background color */
    border-right: 1px solid #d1d5db; /* Match the input border color */
  }
  
  .phone-input-container .country-list {
    background-color: #ffffff; /* Dropdown background color */
    border: 1px solid #d1d5db; /* Dropdown border color */
  }
  